#root {
  max-width: 100%;
  margin:0;
  padding:0;
  height: 100vh;
  text-align: center;
}
#main{
  height: 100vh;
  background-color: rgba(211, 5, 5, 0.89);
}
#mainHolder{
 
  height: 65%;
  background-color: rgba(161, 141, 141, 0.89);
}
#bar{
  display: flex;
  cursor: pointer;
  height:5%;
  width:100vw;
  justify-content: space-evenly;
}

.barItem{
width:100%;
background-color: green;

}
.selected{
  background-color: rgb(10, 204, 130);
}
.slideShow{
  width:40vw;
  aspect-ratio: 4/3;

}
#bannerHolder{
  margin:0;
  padding:0;
  height:30%;
}
#banner{
  width: 100vw;
  height:100%;
}
 
 